<app-navbar></app-navbar>
<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <!-- Nombre -->
    <div>
      <mat-form-field appearance="fill" style="width: 65%">
        <mat-label>Nombre Doctor</mat-label>
        <input matInput formControlName="nombreDoctor" placeholder="Nombre Doctor">
      </mat-form-field>
      <mat-form-field style="width: 35%">
        <mat-label>Fecha de Creacion</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Nombre -->
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombreCompleto" placeholder="Nombre completo">
    </mat-form-field>

    <div>
      <mat-form-field style="width: 65%">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input matInput [matDatepicker]="pickerNacimiento" formControlName="fechaNacimiento">
        <mat-datepicker-toggle matIconSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
        <mat-datepicker #pickerNacimiento></mat-datepicker>
      </mat-form-field>
      <!-- Edad -->
      <mat-form-field appearance="fill" style="width: 35%">
        <mat-label>Edad</mat-label>
        <input matInput formControlName="edad" type="number" placeholder="Edad">
      </mat-form-field>
    </div>

    <!-- Peso -->
    <mat-form-field appearance="fill">
      <mat-label>Peso (kg)</mat-label>
      <input matInput formControlName="peso" type="number" placeholder="Peso en kilogramos">
    </mat-form-field>

    <!-- Talla -->
    <mat-form-field appearance="fill">
      <mat-label>Talla (cm)</mat-label>
      <input matInput formControlName="talla" type="number" placeholder="Talla en centímetros">
    </mat-form-field>

    <!-- Alergias -->
    <mat-checkbox formControlName="alergias" (change)="onAlergiaChange($event)">¿Tiene alergias?</mat-checkbox>

    <!-- Descripción de Alergias -->
    <mat-form-field appearance="fill" *ngIf="allergies">
      <mat-label>Descripción de Alergias</mat-label>
      <textarea matInput formControlName="descripcionAlergias" placeholder="Describa las alergias del paciente"></textarea>
    </mat-form-field>

    <!-- Receta -->
    <mat-form-field appearance="fill">
      <mat-label>Receta</mat-label>
      <textarea matInput formControlName="receta" placeholder="Escriba la receta médica"></textarea>
    </mat-form-field>

    <!-- Botón de envío -->
    <button mat-raised-button color="primary" type="submit" [disabled]="recipeForm.invalid">Guardar Receta</button>

    <!-- Botón de impresión -->
    <button mat-raised-button color="accent" type="button" (click)="printRecipe()">Imprimir Receta</button>

  </div>
</form>
