<div class="card-container">
  <mat-card class="card">
    <img src="assets/img/logo.jpg" alt="Imagen" class="centered-image" [routerLink]="'/'" />
    <h1 class="title">APPTT</h1>
    <div class="form-container">
      <h5>Registro</h5>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
        <!-- Nombre -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            formControlName="nombre"
            name="nombre"
            required
            placeholder="Nombre"
          />
        </mat-form-field>

        <!-- Apellido Paterno -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido Paterno</mat-label>
          <input
            matInput
            type="text"
            formControlName="apellidoPaterno"
            name="apellidoPaterno"
            required
            placeholder="Apellido Paterno"
          />
        </mat-form-field>

        <!-- Apellido Materno -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido Materno</mat-label>
          <input
            matInput
            type="text"
            formControlName="apellidoMaterno"
            name="apellidoMaterno"
            required
            placeholder="Apellido Materno"
          />
        </mat-form-field>

        <!-- Teléfono -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            type="tel"
            formControlName="telefono"
            name="telefono"
            required
            placeholder="Teléfono"
          />
        </mat-form-field>

        <!-- Correo -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            name="email"
            required
            placeholder="Correo"
          />
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            name="password"
            required
            placeholder="Contraseña"
          />
        </mat-form-field>

        <!-- Botón de Registro -->
        <button mat-flat-button color="primary" type="submit">Registrar</button>
      </form>
    </div>
  </mat-card>
</div>

